@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  background-color: #182f34;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  color: white;
  background-color: #ffffff;
  border-radius: 5px;
}
